<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_Y0_3JFvBlOkJ5aKSnAyQu1vTm1_YEvw</string>
	<key>GCM_SENDER_ID</key>
	<string>230918174971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brentridley.drinkidiot</string>
	<key>PROJECT_ID</key>
	<string>drink-idiot</string>
	<key>STORAGE_BUCKET</key>
	<string>drink-idiot.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230918174971:ios:c08d97393bf821017f985e</string>
</dict>
</plist>